{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-3">
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-{{m.tags}}">{{m}}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="content-section col-md-6">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Log In
                </legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Login
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'reset_password' %}">
                    Reset Password
                </a>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an Account?
                    <a href="{% url 'register' %}" class="ml-2">Register here</a>
            </small>
        </div>
    </div>
    <div class="col-md-3"></div>
{% endblock content %}



