

{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="col-md-3"></div>
    <div class="content-section col-md-6">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Place Order
                </legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Order!
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
{% endblock content %}


